@use 'src/styles/vars';

.header {
    height: 90vh;
    background: rgb(44,89,115);  
    // background: linear-gradient(138deg, rgba(44,89,115,1) 0%, rgba(22,29,40,1) 62%);
    background-image: linear-gradient(to bottom, #2c5973, #294960, #24394d, #1e2b3a, #161d28);
    color: #fff;

    &-content {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    &-intro {
        // border: 1px solid red;
        display: inline-block;
        padding: 1em;

        &-title {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 0.3em;
        }

        &-subtitle {
            // border: 1px solid red;
            width: 70%;
            font-size: vars.$subtitle-size;
            font-weight: 300;
            margin-bottom: 1em;
        }

        &-redirect {
            display: flex;
            

            &-btn {
                display: inline-block;
                background-color: vars.$color-green;
                padding: 1em 1.5em;
                border-radius: 60px;
                font-weight: bold;
                font-size: 20px;
                border: 3px solid vars.$color-green;
            }

            &-btn-outline {
                display: inline-block;
                border: 3px solid vars.$color-green;
                padding: 1em 1.5em;
                border-radius: 60px;
                font-weight: bold;
                font-size: 20px;
                margin-right: 1em;
                transition: 0.4s;

                &:hover {
                    background-color: vars.$color-green;
                    transition: 0.4s;
                }
            }
        }

    }

    

    &-img {
        width: 500px;
        
        
        img {
            width: 100%;
        }
    }

}